input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 500;
}
h1, h2, h3, h4 { font-weight: 700; }

#schoodic {
  /* Appearance */
  background-color: #354050;
  padding: 5px 5px 5px 5px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  zoom: 0.9;
}

#photobar {
  /* Appearance */
  background-color: #354050;
  padding: 10px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  zoom: 0.9;
}

#photopage {
  /* Appearance */
  background-color: #354050;
  padding: 0px 0px 0px 0px;
  cursor: move;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 500ms 0.1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.99;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 500ms 0.1s;
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.99;
  transition-delay: 0;
}

#photos {
  /* Appearance */
  background-color: white;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  zoom: 0.9;
}