*{
  font-family: 'Playfair Display', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.header{
  position: fixed;
  font-size: 60px;
  top: 50px;
  width: 100%;
}

.headerl{
  position: fixed;
  font-size: 50px;
  top: 50px;
  left: 10px;
}

.headerw{
  position: fixed;
  /*color: #FFFFF0;*/
  color: white;
  font-size: 60px;
  top: 50px;
  width: 100%;
}

.subheader{
  position: fixed;
  /*color: #FFFFF0;*/
  color: white;
  font-size: 30px;
  top: 125px;
  width: 100%;
}

.body{
  position: fixed;
  font-size: 25px;
  top: 100px;
  left: 10px;
}

.textl{
  position: absolute;
  left: 30px;
}

.link{
  color: #F7F7F7 !important;
}

.footer{
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.footerl{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.footerr{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.shadow-dark{
  text-shadow: 0px 5px 5px rgba(47, 47, 47, 1);
}

.shadow-dm{
  text-shadow: 0px 2px 2px rgba(47, 47, 47, 1);
}

.shadow-light{
  text-shadow: 0px 2px 2px rgba(249, 247, 241, 1);
}

.light{
  color: #f9f7f1;
}

.dark{
  color: #2f2f2f;
}

.white{
  color: #F7F7F7;
}

.black{
  color: #000000;
}

#logo {
  background-color: white;
  padding: 1px 1px 1px 1px;
  box-shadow: 2px 2px 2px 1px gray;
}

#botbord {
  background-color: #262626;
  padding: 5px 5px 5px 5px;
}

#gallery {
  background-color: #262626;
  padding: 5px 5px 5px 5px;
}

#loglink {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 500ms 0.1s;
}

#loglink:hover {
  /* Fade in while hovering */
  opacity: 0.99;
  transition-delay: 0;
}

#titleback {
  background-color: #B3E0E9;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.6;
  zoom: 0.9;
  transition: opacity 500ms 0.1s;
}

#controls:hover {
  /* Fade in while hovering */
    opacity: 1;
    transition-delay: 0;
}

#instruct {
  background-color: #F7F7F7;
  padding: 0 10px 10px 10px;
  opacity: 0.8;
  transition: opacity 500ms 0.1s;
}

#instruct:hover {
  /* Fade in while hovering */
    opacity: 1;
    transition-delay: 0;
}

#plots {
  background-color: white;
  padding: 0 10px 10px 10px;
}

#darkplots {
  background-color: #1A1A1A;
}

#button1 {
  background-color: #0A6716;
  box-shadow: 2px 2px 2px 1px gray;
}

#sources {
  background-color: white;
  padding: 15px 15px 15px 15px;
}

#data {
  background-color: white;
  padding: 0px 15px 15px 15px;
}

.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  padding: 20px;
  border-spacing: 1.25rem 0;
}

.card-deck .card {
  /*display: block;*/
  flex-basis: 20%; /* change this value for each breakpoint*/
}

.card {
    font-size: 1em;
    overflow: hidden;
    margin: 20px;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    @media(min-width: 56rem) {
      width: 22.3333%;
    }
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 310px;
    object-fit: cover;
}

